@model WebApp.ViewModel.ChangePasswordViewModel
<h1>Изменить пароль</h1>
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="NewPassword"></label>
    </div>
    <div>
        <input asp-for="NewPassword" type="password" />
    </div>
    <input type="hidden" asp-for="Id" value=@Model.Id />
    <div>
        <input type="submit" value="Сохранить" />
    </div>
</form>
