@model WebApp.ViewModel.ChangePasswordUserViewModel
<h1>Изменить пароль</h1>
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" , asp-for="Id" , value="@Model.Id" />
    <div>
        Старый пароль
    </div>
    <div>
        <input type="password" asp-for="OldPassword" />
    </div>
    <div>
        Новый пароль
    </div>
    <div>
        <input type="password" asp-for="NewPassword" />
    </div>
    <div>
        Подтверждение пароля
    </div>
    <div>
        <input type="password" asp-for="NewPasswordConfirmed" />
    </div>
    <input type="submit" , value="Готово" />
</form>
